body {
	text-align: center;
	padding-top: 70px;
}

.hero {
	padding-top: 45px;
	padding-bottom: 45px;
}

.hero img {
	padding-top: 45px;
	width: 300px;
	cursor: pointer;
}

.brands {
	padding-bottom: 45px;
}

.thumbnail-img {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 220px;
	width: 220px;
	line-height: 220px;
}

h1 .glyphicon {
	font-size: 24px;
}


.three-col {
	padding-top: 30px;
	padding-bottom: 30px;
}

footer img {
	height: 40px;
	display: inline-block;
}

footer {
	line-height: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer p {
	font-size: 13px;
}

.box {
	padding-left: 15px;
	padding-right: 15px;
}

.grey {
	background-color: #F8F8F8;
}

.cta-main {
	color: #FFFFFF;
	background-color: #D32F2F;
	min-width: 300px;
}

.cta-main:hover, .cta-main:active {
	background-color: #B71C1C;
}

.hero a {
	text-decoration: none;
}

.hero a:hover {
	text-decoration: none;
	color: #FFFFFF;

}

h1, h2, h3, .cta-main, .prompt {
	font-family: 'Palanquin', sans-serif;
	font-weight: 700;
}

.prompt {
	cursor: pointer; 
}

.navbar-header {
	width: 100%;
}

.buy {
	font-family: 'Palanquin', sans-serif;
    border-radius: 50px;
    width: 200px;
    background-color: #FFFFFF;
    color: #D32F2F;
    text-transform: uppercase;
    height: 36px;
    border: 1px solid #D32F2F;
    line-height: 24px;
}

.buy:hover {
	background-color: #D32F2F;
	color: #FFFFFF;
}

.buy:active {
	background-color: #D32F2F;

}

.main {
	background-color: #D32F2F;
	color: #FFFFFF;
	height: 48px;
	width: 300px;
	font-size: 18px;
	line-height: 32px;
}

.box-text {
	max-width: 300px;
	margin: auto;
	font-size: 16px;
}

#mc_embed_signup {
	max-width: 400px;
	width: 80%;
	margin: auto;
	text-align: left;
}

#mc_embed_signup input {
	width: 100%;
}

.about .lead {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.lettering {
	font-family: 'Palanquin', sans-serif;
	vertical-align: middle;
	font-weight: 600;
	color: #D32F2F;
	font-size: 24px;
	line-height: 75px;
	cursor: vertical-text;
}

.navbar {
	border-bottom: solid 1px #D32F2F;
	background-color: #FFFFFF;
}

.navbar-cta {
	line-height: 75px;
	padding-right: 15px;
}

.share-zone {
	display: inline-block;
	line-height: 20px;
	padding-top: 10px;
}
